@use '../tools/variables' as var;
@use '../tools/mixins' as mix;

.contacto{
    @include mix.layout-altura();
    .contacto-content{
        
        .contacto-title{
            @include mix.layout-text();
        }

        .contacto-info{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%;
            margin: auto;
            
            .form-box{
                
                width: 100%;
                
                .topic{
                    font-size: 22px;
                    font-weight: 500;
                    color: var.$secundario;
                }
                form{
                    margin-right: 30px;
                    width: 100%;
                }
                
                .input-box{
                    height: 50px;
                    width: 100%;
                    margin: 16px 0;
                    position: relative;

                    input{
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        border-radius: 6px;
                        font-size: 16px;
                        outline: none;
                        padding-left: 16px;
                        background: #e9f8fb;
                        border: 2px solid transparent;
                        transition: all 0.3s ease;
                    }

                    input:focus, input:valid{
                        border-color: var.$secundario;;
                        background-color: #fff;
                    }

                    label{
                        position: absolute;
                        left: 18px;
                        top: 50%;
                        color: #636c72;
                        font-size: 15px;
                        pointer-events: none;
                        transform: translateY(-50%);
                        transition: all 0.3s ease;
                    }

                    input:focus ~ label, input:valid ~ label{
                        top: 0;
                        left: 12px;
                        display: 14px;
                        color: var.$secundario;;
                        background: #fff;
                    }

                }
                
                .message-box{
                    min-height: 100px;
                    position: relative;
                    textarea{
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        resize: none;
                        /* background: #e9fbea; */
                        background: #e9f8fb;
                        border: 2px solid transparent;
                        border-radius: 6px;
                        outline: none;
                        transition: all 0.3s ease;
                        /* espaciado yo */
                        padding-left: 16px;
                        padding-top: 16px;
                        font-size: 16px;
                    }
                    textarea:focus{
                        border-color: var.$secundario;;
                        background-color: #fff;
                    }
                    label{
                        position: absolute;
                        font-size: 16px;
                        color: #636c72;
                        left: 18px;
                        top: 6px;
                        pointer-events: none;
                        transition: all 0.3s ease;
                    }
                    textarea:focus ~ label, textarea:valid ~ label{
                        top: -10px;
                        left: 12px;
                        color: var.$secundario;;
                        font-size: 14px;
                        background: #fff;
                    }

                    textarea:focus, textarea:valid{
                        border-color: var.$secundario;;
                        background-color: #fff;
                    }


                }

                .input-box input[type="submit"]{
                    color: #fff;
                    background: var.$secundario;;
                    padding-left: 0;
                    font-size: 18px;
                    font-weight: 500;
                    cursor: pointer;
                    letter-spacing: 1px;
                    transition: all 0.3s ease;
                }

                .input-box input[type="submit"]:hover{
                    border: none;
                    background-color: var.$primario;;
                }

                .error{
                    border-radius: 5px;
                    margin-top: 5px;
                    background-color: #FF9185;
                    font-size: 12px;
                    padding: 10px;
                    font-weight: 500;
                    font-size: 14px;
                }
                
                .correcto{
                    border-radius: 5px;
                    background-color: #A0DEA7;
                    font-size: 12px;
                    padding: 10px;
                    font-weight: 500;
                    font-size: 14px;
                }
            }

            .images-box{

                margin-top: 4rem;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                .info{

                    .imagen-1{
                        
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        transition: transform .2s;
                        background: #ffffff;
                        width: 50px;
                        height: 50px;
                        border-radius: 10px;

                        i{
                            background: #ffffff;
                            color: red;
                            font-size: 40px;
                        }
                    }

                    .imagen-2{
                        
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        transition: transform .2s;
                        background: #25d366;
                        width: 40px;
                        height: 40px;
                        border-radius: 10px;
                        
                        i{
                            background: #25d366;
                            color: #ffffff;
                            font-size: 30px;
                        }
                    }

                    .imagen-1:hover,.imagen-2:hover{
                        
                        transform: scale(1.1);
                        i{
                            transform: scale(1.1);
                        }
                    }
                }
            
            }

        }
        
    }
}