@use '../tools/variables' as var;
@use '../tools/mixins' as mix;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* INICIO FLECHA PARA ARRIBA */
.button a{
    z-index: 500;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var.$white;
    background: var.$secundario;
    padding: 7px 12px;;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
  }
  /* FIN FLECHA PARA ARRIBA */